/* Estilos gerais */
.sc-media-title{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.footer-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}
.footer-media {
    display: flex;
    justify-content: center;
}
.footer-media .row {
    max-width: 200px; 
}
#sc-media{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 20px;
    margin-top: 0;
    text-decoration: none;
}
#sc-media i{
    color: #000000;
    font-size: 20px;
}
#sc-media:hover{
    background-color: #fd729c;
    color: black;
}
.footer-newsletter {
    text-align: center; 
    margin-bottom: 50px;
}
.form-inline {
    display: flex;
    justify-content: space-between;
}
.form-inline input {
    flex: 1;
    margin-right: 10px; 
    border-radius: 15px;
    padding: 5px;
}
.form-inline input:focus{
    color: #fd729c;
}
.input-btn{
    width: 100px;
    border-radius: 15px;
    background-color: #fd729c;
    color: black;
    font-weight: bold;
}
.input-btn:hover{
    background-color: transparent;
    border-color: #fd729c;
    color: white;
}
/* div da linha*/ 
.line-div {
    border-bottom: 2px solid white;    
    margin-left: 10px;
}
/* Estilo para o footer mid*/
.foot{
    padding-top: 30px;
}
.title{
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.footer-nav a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    opacity: 0.8;
}
.footer-nav a:hover{
    color: #fd729c;
    opacity: 1;
}
.footer-nav i{
    color: #fd729c;
    opacity: 1;
}
.text{
    color: white;
}

.end-footer{
    height: 10px;
    background-color: black;
}